@page "/About"

<h1>About</h1>

<p>
    O desafio que escolhi contar é sobre uma integração desenvolvida quando estava iniciando minha carreira como dev,
    inicialmente utilizei apenas chamadas HTTPs pra essa integração, então conforme recebia requisições de um lado, disparava de outro.
    Porem comecei a me deparar com  problemas como instabilidades nas plataformas. Então com o conhecimento
    que eu tinha na época, desenvolvi uma solução simples para este caso que é usada para este cenário ate hoje.
    como ja tinha um projeto com AzureFunction pra controlar rotina, criei um banco para logs e  
    uma função pra ficar de tempo em tempo analisando o banco e reenviar as requisições.
</p>
<p>
    Na época em que desenvolvi esta solução, eu não imaginava os impactos que traria a organização,
    apenas um tempo depois, de estar na área de desenvolvimento, é que pude entender os reais benefícios desta solução.
    Uma solução simples e estável. Cria-la de certa forma, foi algo simples para mim, por conhecer bem a necessidade do sistema/negócios,
    ter trabalhado na área de suporte técnico e possuir as habilidades técnicas necessárias
    e hoje, posso dizer com exatidão que os impactos desta solução, trouxeram consistência e velocidade nas entregas, 
    tornando-as mais estratégicas e com SLAs previsíveis. Como lição, esse projeto me trouxe, um cenário, 
    onde pude correlacionar meus conhecimentos teóricos e práticos e entender meu propósito como desenvolvedor.
</p>